{{define "title"}}
Edit article
{{end}}

{{define "main"}}
<div class="col-md-9 blog-main">
  <div class="blog-post bg-white p-5 rounded shadow mb-4">

    <h3>Edit article</h3>
    {{ $idString := Uint64ToString .ID  }}
    <form action="{{ RouteName2URL "articles.update" "id" $idString }}" method="post">

      {{template "form-fields" . }}

      <button type="submit" class="btn btn-primary mt-3">Update</button>

    </form>

  </div><!-- /.blog-post -->
</div>

{{end}}