<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }} —— 我的技术博客</title>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <p>ID： {{ .ID }}</p>
    <p>title： {{ .Title }}</p>
    <p>content：{{ .Body }}</p>
    <p>time：{{ .Time }}</p>
    {{/* 构建删除按钮  */}}
    {{ $idString := Int64ToString .ID  }}
    <form action="{{ RouteName2URL "articles.delete" "id" $idString }}" method="post">
        <button type="submit">删除</button>
    </form>

</body>

</html>